.layout {
    display: flex;
    flex-direction: row;
    height: 100vh;
}
.menu, .feed, .users {
    margin: 5px;
    border: 1px black solid;
    flex-grow: 1;
}

button.newmsg-btn {
    height: 56px;
    margin-left: 5px;
}

.messages {
    height: 60%;
    overflow-y: auto;
}